/* Shower */

@import 'shower-list.css' screen;
@import 'shower-full.css' screen;
@import 'shower-grid.css' screen;
@import 'shower-print.css' print;

.shower {
    --slide-gap: 96px;
    --slide-ratio: calc(16 / 9);
    --slide-width: 1024px;
    --slide-height: calc(var(--slide-width) / var(--slide-ratio));

    --progress-size: 8px;

    --color-key: var(--isp-color__main-basic);
    --color-black: #212121;
    --color-dark: #757575;
    --color-medium: var(--isp-color__additional-text);
    --color-light: #bdbdbd;
    --color-light: var(--isp-color__additional-bg);
    --color-back: #eeeeee;
    --color-yellow: var(--isp-color__main-accent);
    --color-yellow-light: var(--isp-color__additional-light-accent);

    --diagonal:
        linear-gradient(
            135deg, var(--color-key) 50%,
            rgba(0, 0, 0, 0.1) 50%
        );

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;

    margin: 0;
    color: black;
    counter-reset: slide;
    font: 24px/2 'Ubuntu', sans-serif;
    color: var(--isp-color__basic-text);
}
